

h1 { font-family: "Teko", sans-serif; font-size: 50px; color: navy; text-transform: uppercase;
  text-align: center;}
h2  { font-family: "Teko", sans-serif; font-size: 35px; color: navy; text-transform: uppercase;}
h3 {color: navy;}
h4 {color: maroon;}
body{color: black; font-family: "Noto Sans", sans-serif; background-image: url("simpsonscloud.jpg");background-color: lightsteelblue;}
 p.center {text-align: center;}
 img.homer {
  display: block;
  margin-left: auto;
  margin-right: auto;}
  ul.push {margin-left: 630px;}
p.push {margin-left: 630px;}
ul {list-style-image: url('donut.png');}
h2.education {text-align: center;}
h2.experience {text-align: center;}
linked./* visited link */a:visited {color: blue;}
/* mouse over link */a:hover {color: hotpink;}
